html {
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: inherit;
}

body {
  font-family: 'Mier A', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  /* background: #FAFAFA; */
  color: #202020;
}

/**** LInks styling ****/
a {
  font-weight: bold;
  color: #ad9948;
  text-decoration: none;
  border-bottom: 1px solid #ad9948;
}

/***NAVBAR****/

.main-nav {
  z-index: 2;
  position: fixed;
  height: 3rem;
  width: 100%;
  background: #FFFFFF;
}

.main-nav a {
  border: none;
  text-decoration: none;
  color: RGB(0,0,0,90);
  font-weight: normal;
}

.main-nav h2 {
  font-size: 15px;
  position: absolute;
  left: 0;
  margin-left: 1em;
}

.main-nav ul {
  list-style: none;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
}

.main-nav li {
  float: left;
}

.main-nav li a {
  display: block;
  margin: 1em 4em 0.5em 2em;
}

.main-nav a:hover {
  color: #059949;
  font-weight: bold;
}
/* ATTEMPT TO GET NAV TO CHANGE COLOR ON SCROLL
.main-nav.scrolled {
  background-color: red !important;
  transition: background-color 200ms linear;
} */
/*
.nav-colored { background-color:#000; }
.nav-transparent { background-color:transparent;} */

/***END OF NAVBAR****/

img {
  width: 100%;
}

.main {
  margin-top: 0;
  padding: 0;
  z-index: -1;
  /* margin: 2rem 2rem; */
}

h1 {
  font-size: 4.5em;
  line-height: 1em;
  font-style: italic;
  /* color: #1066b1; */
}

h2 {
  font-size: 2.7em;
  line-height: 1.1em;
}

h3 {}

p {
  font-size: 18px;
  line-height: 1.5em;
}



/**** sections ****/
.container {
  display: flex;
  margin: 0 62px;
}

.two-thirds {
  width: 67%;
  padding: 0 5%;
  /* background-color: red; */
  flex-grow: 0;
}

.one-third {
  width: 33%;
  padding-left: 8.3%;
  /* background-color: blue; */
  flex-grow: 0;
}

.home .one-third {
  padding-left: 0;
}

.home .two-thirds {
  padding-top: 50px;
}

.centered-half {
  margin: 0 20%;
}

.top {
  margin-top: 100px;
}
