html {
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: inherit;
}

body {
  font-family: 'Mier A', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  background: #FAF9F6;
  color: #5A5A5A;
}


/***NAVBAR****/

.main-nav {
  z-index: 2;
position: fixed;
height: 3rem;
width: 100%;
background: #FAF9F6;

}

.main-nav a {
  border: none;
  text-decoration: none;
  color: RGB(0,0,0,90);
}

.main-nav h2 {
  font-size: 15px;
  position: absolute;
  left: 0;
  margin-left: 1em;
}

.main-nav ul {
  list-style: none;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
}

.main-nav li {
  float: left;
}

.main-nav li a {
  display: block;
  margin: 1em 4em 0.5em 0;
}

.main-nav a:hover {
  color: #059949;
  font-weight: bold;
}

/***END OF NAVBAR****/

img {
  width: 100%;
}

.main {
  margin-top: 0;
  padding: 0;
  z-index: -1;
  /* margin: 2rem 2rem; */
}

h1 {
  font-size: 4.5em;
  line-height: 1.1;
  font-style: italic;
  color: #1066b1;
}
